You can assume accounts will not complete more than 9999 transactions each day.
1  

Mike Miljanovic [2:54 PM] 
Check for EoF to see when the input file is complete

Mike Miljanovic [3:08 PM] 
A second log-in attempt will be rejected and ignored; subsequent transactions will be considered as part of the first account login


----- January 27th -----
Mike Miljanovic [11:24 AM] 
In yesterday's tutorial, I stated that the front end is used to generate transaction output files that the back end will manage. ​*Your front end must also check for constraints and create output files that meet these constraints*​.
1  


----- January 29th -----
Kathryn Mckay [2:21 PM] 
Is the general project overview document what we should base our A1 test cases on? Or is it all a surprise for later or something like that

[2:23] 
Also, how are we determining what language to write the front and back end in?

Jeremy Bradbury [3:27 PM] 
@kathryn: Yes, the general project overview document forms the basis for your Phase 1 test cases. Also, the programming language details will be included in future phases — this is not a concern at this stage of the project.


----- February 1st -----
Jeremy Bradbury [4:35 PM] 
@channel: There are lots of inconsistencies in the banking system requirements document (this is on purpose :simple_smile:). Don’t forget you need to clarify these inconsistencies in this channel in order to complete Phase 1.
4

Patrick Smuk [4:40 PM] 
I have a question: how should a money transfer be represented in the transaction file?

[4:46] 
and another question: if I try to withdraw my entire balance twice, what should happen? Should I get an error (the front-end keeps track of balances)? What if I restart the front-end and try then?

[4:47] 
that also applies for other stateful constraints

Mike Miljanovic [4:47 PM] 
As stated before, the front end should check for transaction constraints. This includes trying to withdraw more money from an account than is allowed(edited)

[4:48] 
If you restart the front end and try again, it should still correctly fail to withdraw more money than allowed

Patrick Smuk [4:49 PM] 
but what if I withdraw all my money, twice?

[4:49] 
the first withdrawal will succeed, but will the second?

Mike Miljanovic [4:50 PM] 
you mean if you try to withdraw e.g. $500 from an account with $500, then subsequently withdraw another $500? It should not succeed the second time, since your account can't go into the negatives.
1  

Patrick Smuk [4:50 PM] 
so the front-end should internally keep track of balances then?

Dennis Pacewicz [4:51 PM] 
you could trail through the transaction logs to check "actual" balance i'm guessing?

Patrick Smuk [4:51 PM] 
should the front-end try to "apply" the transaction log to itself on start-up (so it's completely up to date) or just start fresh from the master accounts list?

Taylor Smith [4:52 PM] 
Given that deposited funds are unable to be withdrawn in the same session, a better solution is likely keep track of the "available" funds on the front end to validate if a withdraw is valid

Dennis Pacewicz [4:54 PM] 
@taylor-j-smith: either way that balance would have to be cached to disk to prevent just restarting the front end to withdraw the balance twice, though

Jeremy Kwok [4:55 PM] 
But what if I have a balance of $500, deposit $500, logout, relogin, and try to widthdraw $1000? I understand the deposit should not be avaliable for the current login session, but what about future sessions before the backend applies the transactions?

Mike Miljanovic [4:57 PM] 
The front end should keep internal track of balances, yes. The front end should not be reading in transaction output files, or start fresh each session from the master accounts list.

Mike Miljanovic [5:45 PM] 
@patsmuk: Re: "perhaps two 02 lines where the first is implicitly the withdrawal and the second is implicitly the deposit"
​*This will be the universal procedure for transfer transactions*​

[5:49] 
@jerkwok: Deposits should neither be available in the same login session ​*or in the same day*​. You cannot access the funds until the next day after the back end has applied the transactions.


----- Yesterday February 2nd, 2016 -----
Akira Aida [10:06 AM] 
Can a disabled account be deleted or is that in itself a transaction?

Akira Aida [10:42 AM] 
If the account name for account creation is greater than 20 characters, should it be truncated to 20 characters or simply denied?

Akira Aida [11:14 AM] 
A special bank account with account holder’s name END_OF_FILE, is there an account number, active/disabled, or balance associated with this account?

Akira Aida [11:22 AM] 
Also in the 37 characters for NNNNN_AAAAAAAAAAAAAAAAAAAA_S_PPPPPPPP. There is no place for student or non-student.

Mike Miljanovic [11:23 AM] 
1) An Admin can delete an account that has been disabled.
2) Truncate account names if necessary
3) the account number, active/disabled,and balance do not matter for the END_OF_FILE account
4) That is correct, there isn't.

Akira Aida [11:24 AM] 
Should we be adding two characters (flag) for a student/non-student. eg. NNNNN_AAAAAAAAAAAAAAAAAAAA_S_PPPPPPPP_RR

Jeremy Kwok [11:25 AM] 
Does 3) also apply for the end of session line in the Bank Account transaction file? If the program sees a transaction code of 00, it can ignore the rest?

Akira Aida [11:25 AM] 
Probably only need 1 character on second thought.(edited)

Mike Miljanovic [11:25 AM] 
Yes, the other data does not matter for the end of session line

[11:27] 
​*Everyone can add an extra flag to the end of the current and master bank accounts files, e.g. NNNNN_AAAAAAAAAAAAAAAAAAAA_S_PPPPPPPP_Q, where Q is S for student plans and N for non-student plans.*​

Jeremy Kwok [11:29 AM] 
Should we also ask for student and non student plans on account creation? Also the changeplan currently only allows plans to be changed from student to non-student. Should it also allow for changes in the other direction?

Mike Miljanovic [11:30 AM] 
1) No; by default, accounts should be non-student plans. 
2) Yes, it should allow changes in the other direction

Akira Aida [11:30 AM] 
Regarding my third question. I meant more specifically what if a user tries to access the END_OF_FILE account? Giving it an arbitrary account number and valid name means they'd have the possibility to access it.

Mike Miljanovic [11:31 AM] 
Users should not be allowed to access the end_of_file account

Jeremy Kwok [11:55 AM] 
Are spaces not represented by underscores in the Bank Account files?
> (e.g.John_Doe____________ for bank account holder John Doe)

Mike Miljanovic [11:57 AM] 
For legibility purposes when you're reading the requirements document. You shouldn't be ​_literally_​ using underscores in your data

Taylor Smith [12:00 PM] 
added and commented on a Plain Text snippet: questions.txt 
Does the front end need to support both input from both command line input and text file, or only from one or the other?
  If it needs to support both does it need to support them both in the same session?
    example: I invoke the front end: ./Front_End.exe transactions_list.txt, after processing all the transactions in the file should the front end terminate or wait for more possible transactions from the command line?
For Withdraw/Deposit/Transfer, when asked for the specified amount will it always come in a specific format, like $ followed by dollar amount then decimal point then 2 cent values or do we have to support all possible input methods?
1 Comment Click to expand inline 28 lines
1 4 2 1  
After a thorough reading of the requirements document, here is a list of all questions I have, any clarifications would be greatly appreciated.

Mike Miljanovic [12:39 PM] 
1) Both, and it should wait unless your text file told it to terminate.
2) it will always be in the format #####.## where # is a number from 0-9. No dollar signs. Values that don't fit in this format aren't allowed.
3) Admins can perform any action when they've logged into an account, unless the account is disabled. Reject log ins for non-matching name/accounts, even if they are an admin.
4) Admins are allowed any amount that fits in the format.
5) Let's go with the front end deducting the 5-10 cent transaction fee every time a transaction is made. Do this first, so that if someone tries to withdraw 400$ from a 400$ account, it is rejected since the 5-10 cents will be removed before the withdraw happens.
6) Two letters only is fine.
7) I stated it. I'm the customer. I can change whatever requirements I want.
8 )No need to reserve numbers.  Do not worry about this case.
9) Can log in, but can't do any transactions. Admins can re-enable accounts; I'll make a separate message for the details.
10) Yes, always swap to the other plan.
11) This is a typo; should be 'At the end of each session, when the logout transaction is processed, a bank
account transaction file for the ​*session*​ is written'(edited)
1  

[12:40] 
​*New Feature:*​
Transaction Code 09
enable – enable a bank account
• should ask for the bank account holder’s name (as a text line)
• should ask for the account number (as a text line)
• should change the bank account from disabled (D) to active (A)
• should save this information for the bank account transaction file
• Constraints:
o privileged transaction - only accepted when logged in admin
mode
o Account holder’s name must be the name of an existing
account holder
o Account number must be the number of the account holder
specified

Akira Aida [1:05 PM] 
After an account has been disabled, can it still do transactions in that session? Seeing as the bank account transaction file has not been processed yet? It stated "no further transactions should be accepted on a disabled account" however it's technically not processed as disabled yet.

Mike Miljanovic [1:09 PM] 
No further transactions can be made in that session. The front end should keep track of whether or not an account has been disabled.

Patrick Smuk [1:12 PM] 
>1) Both, and it should wait unless your text file told it to terminate.
Wait, it actually has to be able to read commands from a command file? I was just going to pipe them in via stdin

Mike Miljanovic [1:13 PM] 
yeah that's fine; I'm saying if you do pipe them in, that's the behaviour you should expect

Patrick Smuk [1:14 PM] 
does the text file tell it to terminate with EOF, or some other signal?

[1:15] 
I guess this stuff could stay unspecified though

[1:15] 
it's not really important for joining the back-end and front-end

Mike Miljanovic [1:15 PM] 
Right, it's an interface thing; it doesn't really matter

[1:16] 
You probably want some way to cause the front end to terminate though.

Patrick Smuk [1:23 PM] 
Do 00 end of session log entries serve a functional purpose in the back-end, or are they just markers?

[1:24] 
and same question for the _MM extension, does that currently have a use?

Mike Miljanovic [1:25 PM] 
Just markers. Yes, it has a use :)

Patrick Smuk [1:30 PM] 
anything aside from 03 paybill?

Mike Miljanovic [1:33 PM] 
Not that i can think of at the moment, but that could certainly change

Jeremy Kwok [1:48 PM] 
When we create a file do we just assign the next avaliable bank account number sequentially?

Mike Miljanovic [1:50 PM] 
What do you mean "create a file"?
If someone wants to make a list of the clarifications, I'm sure your classmates would appreciate it.

Patrick Smuk [2:27 PM] 
Which transactions incur fees? withdraw/deposit/transfer/paybill? Are fees charged if an admin initiates the transaction?

Mike Miljanovic [2:30 PM] 
Withdraw, Deposit, Transfer, and Paybill transactions are the only ones that incur fees. They are not charged when an admin is logged in.

Patrick Smuk [2:30 PM] 
How should we tell if a transaction came from a normal user or an admin?

Mike Miljanovic [2:30 PM] 
@jerkwok: It's up to you if you want the next account number to be sequential

Mike Miljanovic [2:45 PM] 
The front end should keep track of whether the current logged in user is standard or admin.

Patrick Smuk [2:45 PM] 
and for the back-end?

[2:47] 
maybe an extra flag to indicate if an admin executed the transaction?

[2:47] 
or log when someone logs in as well

Mike Miljanovic [2:50 PM] 
We'll log when someone logs in. Use the transaction code 10 for login. For the Miscellaneous information, use " A" for admin and " S" for standard logins.

Dominick Mancini [2:58 PM] 
What if two different accounts have the same name on the account?(edited)

Jeremy Kwok [2:59 PM] 
For the login transaction code,  should we leave the other information besides the Miscellaneous section blank?

Mike Miljanovic [3:03 PM] 
What are the workaround options for two accounts with the same name?

Dominick Mancini [3:04 PM] 
Perhaps prompt for account number if multiple accounts with the same name are found?

Mike Miljanovic [3:14 PM] 
Oh, I see. You can assume no two users have the exact same name.

Mike Miljanovic [3:18 PM] 
That's not necessary, just the name will suffice for standard users.

Janahan Nirmalan [3:18 PM] 
Will this Bank give out all types of notes, i.e. $5, $10, $20, $50, $100?

Jeremy Bradbury [3:19 PM] 
No coins but yes all paper currency is allowed. :dollar:(edited)

Janahan Nirmalan [3:19 PM] 
Are we assuming this bank is Canadian only :stuck_out_tongue:

Jeremy Bradbury [3:19 PM] 
Yes

Janahan Nirmalan [3:20 PM] 
what about cheques?

[3:20] 
for deposits

Jeremy Bradbury [3:21 PM] 
Good point. I revise my previous answer.

[3:21] 
the restriction regarding paper currency only applies to withdrawals

Patrick Smuk [3:21 PM] 
if someone only has one account, do we still ask them for the account number for each transaction?

Mike Miljanovic [3:25 PM] 
You still need to ask for account number no matter how many accounts they have

Mike Miljanovic [3:51 PM] 
If you run enable on a disabled account you can immediately run transactions with it again.

[3:52] 
If a transaction is attempted but rejected, do not charge any transaction fees.

Taylor Smith [4:51 PM] 
If an account is changed to a student account half way through the day do all subsequent transactions for that session/day get charged the student rate or does the student rate not take effect until the next day?

Mike Miljanovic [4:52 PM] 
Subsequent transactions are charged the student rate.

[4:54] 
00 (end of session) is the transaction code for logging out

Santiago Bonada [4:55 PM] 
the format of the bank account transaction file for each transaction is CC_AAAAAAAAAAAAAAAAAAAA_NNNNN_PPPPPPPP_QM while the format for current bank account is NNNNN_AAAAAAAAAAAAAAAAAAAA_S_PPPPPPPP. for quality of life it would be better if both followed the same order.

Mike Miljanovic [4:59 PM] 
I'll leave it up to @jeremy if he wants to change that


----- Today February 3rd, 2016 -----
Patrick Smuk [10:23 AM] 
>Maximum amount that can be withdrawn in current session is $500.00 in standard mode
is this still for the current session or for the entire day?(edited)

[10:23] 
same with the transfer limit

[10:24] 
and are these limits on the person or on the individual accounts?

Mike Miljanovic [10:48 AM] 
For the entire day for both. These are limits on the account; someone can withdraw 500 twice if they have two accounts and take once from each.

Nicholas Gregorio [12:22 PM] 
How would a user cancel / go back a step (for example, entering the standard user mode accidentally when needing the admin mode)?

Mike Miljanovic [12:24 PM] 
if they are in the middle of a transaction (e.g. login, transferring) and they decide they dont want to, just put in invalid input and it should send them back to where they were before(edited)

Nicholas Gregorio [12:26 PM] 
So invalid input would take them back to the last successful transaction?

Mike Miljanovic [12:28 PM] 
basically yes

[12:28] 
if i try something like withdrawing 1000000, it should take me back to the place where i can try another transaction

Nicholas Gregorio [12:29 PM] 
Alright, thanks

Janahan Mathanamohan [1:14 PM] 
Is their an minimum amount of money for a transfer between accounts? If not can they transfer $0?(edited)

Jeremy Bradbury [1:32 PM] 
Transfers are > $0